#header {
    height: 68px;
    margin: 0 0 30px;
    padding: 2px 20px 2px;
    background-color: #fff;
    position: relative;
    top: 0;
}

#header img.back {
    position: absolute;
    width: 9px;
    height: 14px;
    margin: 25px 66px 25px 0;
    object-fit: contain;
}

#header h2 {
    width: 100%;
    text-align: center;
    font-family: NotoSansCJKKR-Black;
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}