#inputs {
    margin-top: 50px;
}

#inputs input {
    background-color: #fff2e0;
    border: solid 2px transparent;
}

#inputs input:focus {
    outline: solid 2px #ff8d02;
    background-color: white;
    border: solid 2px transparent;
}

.option_button {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}